body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.nav {
	top: 0;
	margin: 0;
	background-color: #1f2937;
	padding: 1% 20% 1% 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.nav .left {
	width: 50%;
}

.nav .left .text {
	font-size: 24px;
	color: #f9faf8;
	font-weight: 900;
}

.nav .right {
	width: 50%;
	display: flex;
	justify-content: right;
	gap: 30px;
}
.nav .right a {
	font-size: 18px;
	color: #e5e7eb;
	text-decoration: none;
}

.hero-top {
	height: 250px;
	background-color: #1f2937;
	padding: 100px 20% 100px 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.hero-top .left {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.hero-top .left .main {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.hero-top .left .secondary {
	font-size: 18px;
	color: #e5e7eb;
	padding-right: 60px;
}

.hero-top .left .btn {
	margin-top: 10px;
	width: 150px;
	height: 30px;
	border-radius: 8px;
	background-color: #3882f6;
	color: #e5e7eb;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn a {
	text-decoration: none;
	color: #e5e7eb;
}

.hero-top .right {
	display: flex;
	background-color: grey;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #e5e7eb;
}
.informations {
	height: 250px;
	background-color: #f9faf8;
	padding: 50px 20% 170px 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
	align-items: center;
}

.informations .info-header {
	color: #1f2937;
	font-size: 36px;
	font-weight: 900;
}

.info-tabs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.info-tab {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info-tab .info-icon {
	height: 150px;
	width: 150px;
	border: 4px solid #3882f6;
	border-radius: 20px;
}

.info-tab .info-text {
	text-align: center;
	width: 150px;
}

.quote-section {
	height: 250px;
	padding: 100px 20% 100px 20%;
	background-color: #e5e7eb;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}
.quote {
	font-style: italic;
	font-size: 36px;
	color: #1f2937;
}
.author {
	width: 80%;
	display: flex;
	justify-content: right;
	align-items: flex-end;
	color: #1f2937;
	font-weight: 900;
	font-size: 24px;
}

.cta-section {
	height: 300px;
	padding: 0 150px 0 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9faf8;
}

.cta-section .cta {
	width: 70%;
	background-color: #3882f6;
	border-radius: 15px;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.cta .text {
	width: 70%;
	padding-left: 100px;
}
.text .text-big {
	font-size: 24px;
	font-weight: 900;
	color: #f9faf8;
}
.text .text-small {
	font-size: 18px;
	color: #e5e7eb;
}
.cta-button {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cta-button .button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	color: #f9faf8;
	border: 3px solid #f9faf8;
}
